In [2]:
import pandas as pd

In [6]:
raw_data_path = '..\\data\\fix-production-plan.csv'  # orijinal veri
df = pd.read_csv(raw_data_path)
df

,itn_inner,itn_outer,itn_thickness,sale_deliverydate,sale_count,stnd_name
0,17.0,25.0,0.75,2025-W15,8000,SWT671
1,17.0,25.0,0.75,2025-W01,7500,SWT671
2,38.0,51.5,2.00,2024-W45,2000,SWT671
3,13.0,27.0,0.30,2024-W10,15000,Surface: Zinc plated 20 µm
4,13.0,45.0,8.00,2024-W16,2100,St50-2K
...,...,...,...,...,...,...
6775,5.2,15.0,2.00,2023-W52,10000,NaN
6776,12.2,23.0,1.50,2023-W42,11000,NaN
6777,17.0,50.0,6.00,2023-W52,2000,NaN
6778,8.5,20.0,5.50,2023-W52,5000,NaN
6779,31.0,71.0,4.00,2023-W42,1000,NaN

In [7]:
df.head()

,itn_inner,itn_outer,itn_thickness,sale_deliverydate,sale_count,stnd_name
0,17.0,25.0,0.75,2025-W15,8000,SWT671
1,17.0,25.0,0.75,2025-W01,7500,SWT671
2,38.0,51.5,2.00,2024-W45,2000,SWT671
3,13.0,27.0,0.30,2024-W10,15000,Surface: Zinc plated 20 µm
4,13.0,45.0,8.00,2024-W16,2100,St50-2K

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6780 entries, 0 to 6779
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   itn_inner          6762 non-null   float64
 1   itn_outer          6780 non-null   float64
 2   itn_thickness      6780 non-null   float64
 3   sale_deliverydate  6780 non-null   object
 4   sale_count         6780 non-null   int64
 5   stnd_name          6566 non-null   object
dtypes: float64(3), int64(1), object(2)
memory usage: 317.9+ KB

In [10]:
df.isnull().sum()

itn_inner             18
itn_outer              0
itn_thickness          0
sale_deliverydate      0
sale_count             0
stnd_name            214
dtype: int64